/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegurarse de que el body ocupe toda la altura de la pantalla */
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Colocar los elementos en columna */
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
}

.supercontainer {
    text-align: center; /* Asegura que todo esté centrado */
}

.container-logo {
    margin-bottom: 30px; /* Espacio entre el logo y el título */
    display: flex; /* Usar flexbox para centrar el logo */
    justify-content: center; /* Centrar el logo horizontalmente */
}

.logo {
    max-width: 50%; /* Asegura que la imagen no se desborde */
}

.container {
    text-align: center;
}

.main-title {
    color: #333;
    margin-bottom: 20px;
}

.button-container {
 
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black; /* Grosor del borde normal */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; /* Transiciones suaves */
    outline: none;
    position: relative; /* Necesario para el pseudo-elemento */
}

/* Cambios en el hover */
.btn:hover {
    background-color: #e4e2e2; /* Fondo ligeramente gris al pasar el mouse */
    color: black; /* Mantiene el texto negro */
}

/* Añadiendo un pseudo-elemento para el efecto del borde */
.btn::after {
    content: '';
    position: absolute;
    top: -2px; /* Alinea el borde */
    left: -2px; /* Alinea el borde */
    right: -2px; /* Alinea el borde */
    bottom: -2px; /* Alinea el borde */
    border: 4px solid transparent; /* Borde inicial transparente */
    border-radius: 5px; /* Mantiene la misma forma */
    transition: border-color 0.3s ease; /* Suaviza el cambio del borde */
}

.btn:hover::after {
    border-color: black; /* Cambia el color del borde al pasar el mouse */
}

.btn:focus {
    outline: none;
}