

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>

    <div class="container">
        
        <div class="parent">
            <div class="div1">
                REGISTER
            </div>
            
            <div class="div2" style="font-size: 10px;">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Registrarse</button>
                </form>

            </div>
        </div>
    </div>


</body>
</html>
